.profile__name {
  max-width: 334px;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
  .profile__name {
    font-size: 5vw;
  }
}


@media screen and (max-width: 520px) {
  .profile__name {
    font-size: 8.4vw;
    line-height: 17.5vw;
  }
}
