@import url(./_closed/popap_closed.css);
@import url(./__container/popap__container.css);
@import url(./__close/popap__close.css);
@import url(./__title/popap__title.css);
@import url(./__input-name/popap__input-name.css);
@import url(./__input-signature/popap__input-signature.css);
@import url(./__input-save/popap__input-save.css);
@import url(./__text-color/popap__text-color.css);
@import url(./__input-error/popap__input-error.css);

.popap {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  transition: .5s linear;
  top: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
}
