.popap__text-color {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  margin: auto;
}

@media screen and (max-width: 1050px) {
  .popap__text-color {
    font-size: 15px;
    line-height: 17px;
  }
}

@media screen and (max-width: 500px) {
  .popap__text-color {
    font-size: 14px;
  }
}
