.profile__btn-plus {
  background-color: #000000;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  margin-left: auto;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 650px) {
  .profile__btn-plus {
    margin: 36px auto 0;
    width: 490px;
    height: 70px;
  }
}

@media screen and (max-width: 520px) {
  .profile__btn-plus {
    width: 311px;
    height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .profile__btn-plus {
    width: 87.5vw;
    height: 16vw;
    margin: 11.3vw auto 0;
  }
}

.profile__btn-plus:hover {
  opacity: .6;
  transition: opacity 200ms linear;
}
