.cards {
  margin-top: 50px;
  display: grid;
  max-width: 282px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px 20px;
}

@media screen and (max-width: 900px) {
  .cards {
    margin: 3.9vw auto 0;
    max-width: 604px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}

@media screen and (max-width: 650px) {
  .cards {
    max-width: 490px;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 520px) {
  .cards {
    max-width: 311px;
    margin-top: 36px;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}

@media screen and (max-width: 400px) {
  .cards {
    max-width: 282px;
    grid-row-gap: 20px;
  }
}
