.btn-image_edit {
  background-image: url(../../../images/btn-edit.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px; 
  height: 10px;
  margin: auto;
}

@media screen and (max-width: 520px) {
  .btn-image_edit {
    height: 8px;
    width: 8px;
  }
}
