.btn-image_like {
  background: url(https://code.s3.yandex.net/web-code/dom/heart.svg) center no-repeat;
  height: 19px;
  width: 21px;
  transition: all 0.3s ease 0s;
}
.btn-image_like:hover {
	transform: scale(1.3);
}
